@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

/* CSS For Light & Dark Toggle  */
body {
  font-family: "Libre Baskerville", serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  margin: 0;
  padding: 0;
}

p1 {
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: black;
}

.switch {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position for upper right corner */
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

@media (max-width: 320px) {
  /* Adjust styles for screens with a width less than or equal to 300px */
  h1 {
    font-size: 24px; /* Adjust the font size for smaller screens */
  }

  p1 {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }

  font-family {
    font-family: "Libre Baskerville", serif;
  }
}

/* Bill Input Section CSS */

.bill-section {
  text-align: center;
  margin-top: 20px;
}

label {
  font-size: 18px;
  display: block;
}

#bill {
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

#bill::placeholder {
  text-align: center;
}

#tip {
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

#tip::placeholder {
  text-align: center;
}

#people {
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

#people::placeholder {
  text-align: center;
}

footer {
  margin-top: 20px;
  background-color: black;
  height: 60px;
  width: 100%;
}
